<!--The content below is only a placeholder and can be replaced.-->
<div class="center">
  <div width="80%">
  <table>
    <tr>
      <td>
        <img width="100" alt="Angular Logo" src="../assets/img/ef5062acfce64a7aef1d75b4934fbee6_400x400.png">
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
        <h1 style="color: #326297">{{ title }}</h1>
      </td>
    </tr>
  </table>
</div>

<p-tabMenu [model]="items"></p-tabMenu> 
<router-outlet></router-outlet>
 </div>

